CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
web/node_modules/
.parcel-cache/
**/build/
build-emcc/
cmake-build-release/
.DS_Store
web/.parcel-cache/
.cmake/
